* {
  font-family: Roboto, sans-serif;
}

.fa-arrow-down {
  color: red;
  font-size: 40px;
  padding: 10px;
}

nav {
  height: 50px;
  background-color: #212121;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  list-style-type: none;
}

.menu .menu_item {
  padding-right: 35px;
  border-right: 2px dotted black;
}

.menu .menu_item:last-child {
  border: none;
}

.menu .menu_link {
  color: white;
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
}

.subheader {
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.subheader .subheader_logo {
  display: block;
  min-width: 100%;
  margin-top: 17px;
}

.subheader .subheader_official {
  display: inline-block;
  margin-top: 6px;
  font-size: 13px;
  font-weight: 300;
  opacity: 0.5;
}

.subheader .subheader_call {
  margin-top: 22px;
  text-align: right;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}

.subheader .subheader_phone {
  display: block;
  margin-top: 5px;

  text-decoration: none;
  color: white;
  text-align: right;
  font-size: 22px;
}

.subheader .dot {
  font-style: normal;
  position: relative;
}

.subheader .dot::after {
  display: inline-block;
  position: absolute;
  top: 45%;
  border-radius: 100%;
  content: "";
  width: 4px;
  height: 4px;
  background-color: white;
}